.btn{
  all: unset;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-variant);
  border-radius: var(--btn-radius);
  
  padding: var(--btn-padding);

  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}