:root {
    --background-primary: #242424;
    --background-secondary: #13121788;
    --background-tertiary: #1A192088;

    --theme-primary: #0561FD;
    --theme-secondary: #FDA105;
    --theme-danger: #FD0561;

    --font-default: #2C2C2C;
    --font-muted: #424242;
    --font-contrast: #F8F8F8;
}